/*CSS Styles*/

body{
	background:#330334;
	/*background-image: url(images/glitchStatue.jpg);*/
	font-family:courier, times;
	background-attachment:fixed;	

}

div#wrapper{
	width:940px;
	margin:0 auto 0 auto;	 
	background-color:black;
	padding:50px;
	background:rgba(0,0, 0,.9);
}

h1{
	font-family:georgia, arial;
	color:#fff;
}
h2{
	color:#fff;
}
h3{
	font-size: 20px;
	float: right;
	margin:0 0 75px 0;
	/*border:1px solid #fff;
	  padding:5px;*/
}
img{
	float: right;
	width: 200px;
	margin:0 50px 75px 125px;
	border:2px solid #1C1C1C;
}

p{
	color:#fff;
	line-height: 1.5;
		
}
ul{
	color:#fff;
	list-style:none;
	line-height:1.5;
}
a{
    text-decoration:none;
}
