/*CSS Styles*/

body{
	background: #F3F3F0;
	font-family: lucida sans-serif, times;
	padding:10px 100px 10px 100px;
	margin:0 auto 0 auto;

}

#header{
	border-bottom: 2px solid black;
	display: inline-block;
}

#page{

}

#column{
	display: inline-block;
  width: 40%;
}

#header p{
	font-size: 16;
	color:#D1D1D1;
	}

img{
	float: right;
	width: 200px;
	margin:0 50px 75px 125px;
	border:2px solid #1C1C1C;
}

p{
	color:black;
	line-height: 1.5;

}

a{
    text-decoration:none;
}
