/*CSS Styles*/

body{
	background:#330334;
	/*background-image: url(images/glitchStatue.jpg);*/
	font-family:courier, times;
	background-attachment:fixed;	

}

div#wrapper{
	width:940px;
	margin:0 auto 0 auto;	 
	background-color:black;
	padding:50px;
	background:rgba(0,0, 0,.9);
}

.btn {
  margin: 0 auto 0 auto;
 }

h1{
	font-family:georgia, arial;
	color:#fff;
}

img{
	float: right;
	width: 200px;
	margin:0 50px 75px 125px;
	border:2px solid #1C1C1C;
}

p{
	color:#fff;
	line-height: 1.5;
		
}

a{
    text-decoration:none;
}

